In [1]:
import os
import tweepy as tw
import pandas as pd

In [2]:
api_key = "yWERFj76TdEhGFvCFmd1catHE"
api_secrets = "Jz6Q0MDY62auKA24vxQT9cvjkoRfAOKVVsuNaFHpf2gkKRRjt3"
access_token = "933488354624262146-huPrVI0UBh171UG7iCzt1pkLCsoQ3o9"
access_secret = "cocokAGoltdWTbE38H3LkDrWMv2mLxmMk7MEdlXpNoHaob"

os.environ['TOKEN'] = 'AAAAAAAAAAAAAAAAAAAAAGu5jQEAAAAALy7Z3wfYEw6x57iAljsSHHf3QZg%3D9VUfAeI47YSVZTX2NvvoIwDH32PfV1IGOYcXo7LhNH9qtibX92'

In [3]:
import tweepy as tw
# your Twitter API key and API secret
my_api_key = "yWERFj76TdEhGFvCFmd1catHE"
my_api_secret = "Jz6Q0MDY62auKA24vxQT9cvjkoRfAOKVVsuNaFHpf2gkKRRjt3"
# authenticate
auth = tw.OAuthHandler(my_api_key, my_api_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [5]:
search_words = "#healthcare"
# date_since = "2018-11-16"

filter_search = search_words + " -filter:retweets"
filter_search

'#healthcare -filter:retweets'

In [6]:
# Collect tweets
tweets = tw.Cursor(api.search_tweets,
              q=filter_search,
              lang="en").items(10000)
# tweets

In [7]:
tweets_copy = []
for tweet in tweets:
    tweets_copy.append(tweet)

Rate limit reached. Sleeping for: 753

In [8]:
len(tweets_copy)

10000

In [9]:
# intialize the dataframe
tweets_df = pd.DataFrame()
# populate the dataframe
for tweet in tweets_copy:
    hashtags = []
    try:
        for hashtag in tweet.entities["hashtags"]:
            hashtags.append(hashtag["text"])
        text = api.get_status(id=tweet.id, tweet_mode='extended').full_text
    except:
        pass
    
#     df = pd.concat([df, pd.DataFrame.from_records([{ 'a': 1, 'b': 2 }])])
    tweets_df = pd.concat([tweets_df, pd.DataFrame.from_records([{'user_name': tweet.user.name, 
                                               'user_location': tweet.user.location,\
                                               'user_description': tweet.user.description,
#                                                'user_verified': tweet.user.verified,
                                               'Number of Favorites': tweet.user.favourites_count,
                                               'ID' : tweet.user.id,
                                               'date': tweet.created_at,
                                               'text': text, 
                                               'hashtags': [hashtags if hashtags else None],
                                               'source': tweet.source}])])
    tweets_df = tweets_df.reset_index(drop=True)
# show the dataframe
tweets_df.head()

Rate limit reached. Sleeping for: 672
Rate limit reached. Sleeping for: 669
Rate limit reached. Sleeping for: 669
Rate limit reached. Sleeping for: 672
Rate limit reached. Sleeping for: 672
Rate limit reached. Sleeping for: 672
Rate limit reached. Sleeping for: 671
Rate limit reached. Sleeping for: 629
Rate limit reached. Sleeping for: 665
Rate limit reached. Sleeping for: 668
Rate limit reached. Sleeping for: 674

,user_name,user_location,user_description,Number of Favorites,ID,date,text,hashtags,source
0,Med-Tech World,Malta,Med-Tech World highlights leading innovations ...,245,1090184482047619073,2022-11-18 16:26:39+00:00,THE HEALTH OF OUR SOCIETY IS INTRINSICALLY LIN...,[None],HubSpot
1,Martin Taylor,United Kingdom,Deputy CEO and Co-Founder of the Redwood Techn...,52,4096820361,2022-11-18 16:26:05+00:00,"Congratulations to West Yorkshire ICS, who won...",[[HSJAwards]],Oktopost
2,Jits Langedijk,"Utrecht, Nederland",Sr. Solutions Architect @NVIDIA https://t.co/d...,2816,115660165,2022-11-18 16:25:51+00:00,Calling #healthcare #AI professionals! NVIDIA ...,"[[healthcare, AI, UMC]]",Dynamic Signal
3,HealthCare CE,,"Health Care News, Topics, Updates & Reviews of...",0,1566589962035666944,2022-11-18 16:25:18+00:00,"Your immune system may be weakened over time, ...",[None],TweetDeck
4,CCS,"Dallas, TX",CCS is a leading provider of collaborative car...,1195,58493082,2022-11-18 16:25:11+00:00,#CCS is growing! We are #hiring for a Customer...,"[[CCS, hiring]]",Hootsuite Inc.

In [10]:
tweets_df.to_csv('health_tweets.csv')

In [11]:
search_words = "#education"
# date_since = "2018-11-16"

filter_search = search_words + " -filter:retweets"
filter_search


# Collect tweets
tweets = tw.Cursor(api.search_tweets,
              q=filter_search,
              lang="en").items(10000)
tweets

In [12]:
tweets_copy = []
for tweet in tweets:
    tweets_copy.append(tweet)

Rate limit reached. Sleeping for: 754

In [13]:
# intialize the dataframe
tweets_df = pd.DataFrame()
# populate the dataframe
for tweet in tweets_copy:
    hashtags = []
    try:
        for hashtag in tweet.entities["hashtags"]:
            hashtags.append(hashtag["text"])
        text = api.get_status(id=tweet.id, tweet_mode='extended').full_text
    except:
        pass
    
#     df = pd.concat([df, pd.DataFrame.from_records([{ 'a': 1, 'b': 2 }])])
    tweets_df = pd.concat([tweets_df, pd.DataFrame.from_records([{'user_name': tweet.user.name, 
                                               'user_location': tweet.user.location,\
                                               'user_description': tweet.user.description,
#                                                'user_verified': tweet.user.verified,
                                               'Number of Favorites': tweet.user.favourites_count,
                                               'ID' : tweet.user.id,
                                               'date': tweet.created_at,
                                               'text': text, 
                                               'hashtags': [hashtags if hashtags else None],
                                               'source': tweet.source}])])
    tweets_df = tweets_df.reset_index(drop=True)
# show the dataframe
tweets_df.head()

Rate limit reached. Sleeping for: 677
Rate limit reached. Sleeping for: 677
Rate limit reached. Sleeping for: 674
Rate limit reached. Sleeping for: 673
Rate limit reached. Sleeping for: 670
Rate limit reached. Sleeping for: 669
Rate limit reached. Sleeping for: 668
Rate limit reached. Sleeping for: 669
Rate limit reached. Sleeping for: 666
Rate limit reached. Sleeping for: 665
Rate limit reached. Sleeping for: 628

,user_name,user_location,user_description,Number of Favorites,ID,date,text,hashtags,source
0,ISA - The International Schools Association,"Geneve, Switzerlad","A non-governmental international organization,...",70,3092078225,2022-11-18 19:29:29+00:00,We want to congratulate Colegio Lakeside for h...,[None],Metricool
1,onlineCourses,,Sending out free coupons to Online web develop...,86,2591443279,2022-11-18 19:29:01+00:00,#JAVASCRIPT#COURSES #LEARN #FREE JavaScript DO...,"[[LEARN, FREE]]",FreeCourses
2,SCarolina Education,South Carolina,Follow this account for geo-targeted Education...,0,181076039,2022-11-18 19:28:41+00:00,See our latest SC #Education job opportunity a...,[[Education]],CareerArc 2.0
3,Ciara Quill,Ireland,Teacher & lecturer of ðŸ‡«ðŸ‡· ðŸ‡©ðŸ‡ª Interests include ...,74683,1920750644,2022-11-18 19:28:29+00:00,#teachers #education #schools And yet the Depa...,"[[teachers, education, schools]]",Twitter for iPhone
4,Jeremy Yanofsky,"California, USA",Champion for #gamebasedlearning @ https://t.co...,3930,321521246,2022-11-18 19:28:26+00:00,While so many of my colleagues in #education a...,"[[education, RIPTwitter, PLN]]",Twitter Web App

In [14]:
tweets_df.to_csv('education_tweets.csv')